@font-face {
	font-family: "Mojangles";
	src: url("fonts/mojangles.ttf") format("truetype");
}

html {
    height: 100%;
}
body {
    font-family: Lato,sans-serif !important;
    background-color: #f0f0f0;
    margin: 0;
    min-height: 100%;
	padding-top: 70px;
}

li {
    list-style-type: none;
}

img{
    max-width: 100%;
    height: 100%;
}

.border-line hr {
    margin: 10px 0;
}

.header-title {
    text-align: center;
    font-size: 2rem;
}

.world{
    max-width: 30%;
}

.class {
    width: 60%;
}

.footer {
	bottom: 0;
	width: 100%;
	height: 6rem;
	position: sticky;
}

.navbar {
	height: 7vh;
}

footer {
  position: sticky;
  top: 100vh;
  width: 100%;
}

@media screen and (max-width: 768px) {
	.side-collapse-container{
		width:100%;
		position:relative;
		left:0;
		transition:left .4s;
	}
	.side-collapse-container.out{
		left:200px;
	}
	.side-collapse {
		top:50px;
		bottom:0;
		left:0;
		width:200px;
		position:fixed;
		overflow:hidden;
		transition:width .4s;
	}
	.side-collapse.in {
		width:0;
	}
}

.s-0 {
	color: #000000
}

.s-1 {
	color: #0000aa
}

.s-2 {
	color: #00aa00
}

.s-3 {
	color: #00aaaa
}

.s-4 {
	color: #aa0000
}

.s-5 {
	color: #aa00aa
}

.s-6 {
	color: #ffaa00
}

.s-7 {
	color: #aaaaaa
}

.s-8 {
	color: #545454
}

.s-9 {
	color: #5454ff
}

.s-a {
	color: #54ff54
}

.s-b {
	color: #54ffff
}

.s-c {
	color: #ff5454
}

.s-d {
	color: #ff54ff
}

.s-e {
	color: #ffff54
}

.s-f {
	color: #ffffff
}

.s-g {
	color: #ddd605
}

.s-h {
	color: #e2d3d1
}

.s-i {
	color: #cec9c9
}

.s-j {
	color: #44393a
}

.s-l {
	font-weight: bold;
	letter-spacing: 0.07rem;
}

.s-m {
	color: #961506
}

.s-n {
	color: #b4684d
}

.s-o {
	font-style: italic;
}

.s-p {
	color: #deb02c
}

.s-q {
	color: #119f36
}

.s-r {
	font-style: normal;
	font-weight: normal;
	color: #000000;
}

.s-s {
	color: #2cb9a8
}

.s-t {
	color: #20487a
}

.s-u {
	color: #9a5cc5
}
